Source: ros-indigo-rail-pick-and-place
Section: misc
Priority: extra
Maintainer: David Kent <davidkent@wpi.edu>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://ros.org/wiki/rail_pick_and_place
Standards-Version: 3.9.2

Package: ros-indigo-rail-pick-and-place
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-rail-pick-and-place-msgs
Description: Pick and Place Functionality for CARL in the RAIL Lab
